/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  background red
  transition all 0.5s
  transform translateX(-120%)
  max-height 0
  padding 0!important
  &.order-enter-active
    background yellow
    transform translateX(0)
    max-height 60px
    padding 2rem 0!important

.order-leave
  background yellow
  transition all 0.5s
  transform translateX(0)
  max-height 60px
  padding 2rem 0!important
  &.order-leave-active
    background red
    transform translateX(-120%)
    max-height 0
    padding 0!important
    